.container {
  width: 80%;
  margin: 20px auto;
}

.container h2 {
  margin-bottom: 30px;
}

.sidebar .showcase {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sidebar .showcase .metadata {
  display: flex;
  justify-content: space-between;
}

.sidebar.cart {
  max-width: 100%;
  width: 100%;
}

.cart-item-title {
  color: var(--onyx);
  font-size: var(--fs-7);
  font-weight: var(--weight-400);
}

.sidebar.cart .showcase-content {
  width: auto;
}